$blue-background: #1B2838;
$blue-nav: #171A21;
$blue-h1: #5EAFDE;
$blue-input: #324965;
$blue-input-border: #45566A;
$blue-button: #264963;
$blue-button-color: #6ABCF0;

body {
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: $blue-background;
}

nav {
  width: 100%;
  height: 100px;
  background-color: $blue-nav;
}

.form {
  margin: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0 0 0.5em 0;
    color: $blue-h1;
    font-weight: 500;
    font-size: 20px;
  }

  input, select {
    padding: 5px;
    margin-bottom: 1em;
    border: 1px solid $blue-input-border;
    background-color: $blue-input;
    color: white;
  }

  button {
    padding: 5px;
    border: none;
    background-color: $blue-button;
    color: $blue-button-color;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

#cy {
  height: 100%;
  width: 100%;
  display: block;
}
.panels {
  display: flex;
}
.panel-1 {
  flex: 1;
}
.panel-2 {
  flex: 3;
}

.progress-bar {
  height: 4px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 100%;
  overflow: hidden;
  visibility: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}
