$blue-background: #1B2838;
$blue-nav: #171A21;
$blue-h1: #5EAFDE;
$blue-input: #324965;
$blue-input-border: #45566A;
$blue-button: #264963;
$blue-button-color: #6ABCF0;

body {
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: $blue-background;
}

nav {
  width: 100%;
  height: 100px;
  background-color: $blue-nav;
}

.form {
  margin: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0;
    color: $blue-h1;
    font-weight: 500;
    font-size: 20px;
  }

  input, select {
    padding: 5px;
    border: 1px solid $blue-input-border;
    background-color: $blue-input;
    color: white;
  }

  button {
    padding: 5px;
    border: none;
    background-color: $blue-button;
    color: $blue-button-color;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

#cy {
  height: 100%;
  width: 100%;
  display: block;
}
.panels {
  display: flex;
}
.panel-1 {
  flex: 1;
}
.panel-2 {
  flex: 3;
}
.highlight {
 border: 5px solid red;
 display: none;
}
